@model ASP.NET_Web_Application.Models.Filial

@{
    ViewBag.Title = "Create";
}

<div class="jumbotron" style="margin-top:4em">
    <h1>Cadastro de Pratos</h1>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal form-edit-prato">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label for="formGroupExampleInput">Nome da Filial</label>
        @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="formGroupExampleInput">CEP</label>
        @Html.EditorFor(model => model.cep, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.cep, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="formGroupExampleInput">Logradouro</label>
        @Html.EditorFor(model => model.logradouro, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.logradouro, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="formGroupExampleInput">Bairro</label>
        @Html.EditorFor(model => model.bairro, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.bairro, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="formGroupExampleInput">UF</label>
        @Html.EditorFor(model => model.uf, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.uf, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <div>
            <input type="submit" value="Salvar" class="btn btn-tacos" />
            @Html.ActionLink("Voltar", "Index", "", htmlAttributes: new { @class = "btn btn-tacos", @role = "button" })
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
