@model ASP.NET_Web_Application.Models.Filial

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Filial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.logradouro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.logradouro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bairro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
